@import './base.css';

#app {
  width: 100vw; /* Теперь занимает всю ширину экрана */
  margin: 0; /* Убираем автоматическое центрирование */
  padding: 0; /* Убираем отступы, если они не нужны */
  font-weight: normal;
}

/* Изменяем стили для больших экранов */
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: start; /* Убираем центрирование */
  }

  #app {
    display: block; /* Убираем сетку */
    padding: 0; /* Убираем отступы */
  }
}
